.jumbotron {
    background-color: rgba(224, 202, 218, 0.3);
    text-align: center;
}

.imgclass {
    display: flex;
    justify-content: space-between;
}

#footie {
    font-size: 25px;
    text-align: center;
    color: black;
}
  
#footie > a {
    text-decoration: none;
    color: white;
}

#footie > span {
    color: red;
}