<div class="wrapper">
  
      <nav class="flex-nav">
        <ul>
          <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/about" routerLinkActive="active">About</a></li>
          <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
          <li><a routerLink="/updates" routerLinkActive="active">Updates</a></li>
          <li><a routerLink="/faq" routerLinkActive="active">FAQ</a></li>
          <li><a routerLink="/support" routerLinkActive="active">Support</a></li>
          <li class="social">
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="social">
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="social">
            <a href="#"><i class="fa fa-github"></i></a>
          </li>
          <li class="social">
            <a href="#"><i class="fa fa-quora"></i></a>
          </li>
        </ul>
      </nav>
  
</div>

<router-outlet></router-outlet>
<br>



