<div class="container">
    <div class="jumbotron">
    <h1>FAQ</h1>
    <div class="toggle">
      <div class="toggle-title ">
        <h3>
        <i></i>
        <span class="title-name">What is BeSafe?</span>
        </h3>
      </div>
      <div class="toggle-inner">
        <p>BeSafe is an application which can help minimise loss of life and chances of prolonged injury due to accidents in secluded places. It also indicates the nearby accident prone areas based on our geographical location.</p>
      </div>
      </div><!-- END OF TOGGLE -->
      
      
      <div class="toggle">
        <div class="toggle-title ">
          <h3>
          <i></i>
          <span class="title-name">How can it help?</span>
          </h3>
        </div>
        
        <div class="toggle-inner">
          <p>BeSafe indicates the user by sending him or her a notification as soon as he enters an accident prone zone.</p>
        </div>
        </div><!-- END OF TOGGLE -->
        
        <div class="toggle">
          <div class="toggle-title  ">
            <h3>
            <i></i>
            <span class="title-name"> How much it costs?</span>
            </h3>
          </div>
          
          <div class="toggle-inner">
            <p>Using BeSafe is free. Value of Human Life is more than Money.</p>
          </div>
          
          </div><!-- END OF TOGGLE -->
          
      
      
        
        
             
        </div>
        
</div>

